Code/flows.json
[
    {
        "id": "77ea95fd89d637a6",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46dea2db37433ee3",
        "type": "mqtt in",
        "z": "77ea95fd89d637a6",
        "name": "",
        "topic": "MQ2b",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3a65d136f9220c14",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "6bb92fd48fa3f5e5"
            ]
        ]
    },
    {
        "id": "cfeadddada356409",
        "type": "mqtt in",
        "z": "77ea95fd89d637a6",
        "name": "",
        "topic": "GP2Y",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3a65d136f9220c14",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "83a07490cbee77ef"
            ]
        ]
    },
    {
        "id": "3589d6b88cbaa7be",
        "type": "mqtt in",
        "z": "77ea95fd89d637a6",
        "name": "",
        "topic": "Sh1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3a65d136f9220c14",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "54a7b460caeab736"
            ]
        ]
    },
    {
        "id": "a0eccc794b63176b",
        "type": "mqtt in",
        "z": "77ea95fd89d637a6",
        "name": "",
        "topic": "Kel1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3a65d136f9220c14",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 360,
        "wires": [
            [
                "21eee79c08cf630c"
            ]
        ]
    },
    {
        "id": "7413c27e867e9a32",
        "type": "mqtt in",
        "z": "77ea95fd89d637a6",
        "name": "",
        "topic": "SMOKE",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3a65d136f9220c14",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "d2d7487cbd05d4b5"
            ]
        ]
    },
    {
        "id": "f5ad55e7b49aee77",
        "type": "mqtt in",
        "z": "77ea95fd89d637a6",
        "name": "",
        "topic": "Flame",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3a65d136f9220c14",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "8b0b3c0f9999425a"
            ]
        ]
    },
    {
        "id": "98ae6092ce8e352c",
        "type": "mqtt in",
        "z": "77ea95fd89d637a6",
        "name": "",
        "topic": "Debu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3a65d136f9220c14",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 360,
        "wires": [
            [
                "d096d32945ae1b17"
            ]
        ]
    },
    {
        "id": "9b81cc9134cc6fc3",
        "type": "mqtt in",
        "z": "77ea95fd89d637a6",
        "name": "",
        "topic": "Sh",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3a65d136f9220c14",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 440,
        "wires": [
            [
                "a462bbb604e09b63"
            ]
        ]
    },
    {
        "id": "6faa80a406990872",
        "type": "mqtt in",
        "z": "77ea95fd89d637a6",
        "name": "",
        "topic": "Kel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3a65d136f9220c14",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 520,
        "wires": [
            [
                "32f46ee1a50acd45"
            ]
        ]
    },
    {
        "id": "84ed3d0a9aec7d0e",
        "type": "ui_text_input",
        "z": "77ea95fd89d637a6",
        "name": "",
        "label": "STATUS LAB BENGKEL",
        "tooltip": "",
        "group": "397301018b437849",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 730,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d2d7487cbd05d4b5",
        "type": "ui_text",
        "z": "77ea95fd89d637a6",
        "group": "397301018b437849",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Asap :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "8b0b3c0f9999425a",
        "type": "ui_text",
        "z": "77ea95fd89d637a6",
        "group": "397301018b437849",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Api :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "d096d32945ae1b17",
        "type": "ui_text",
        "z": "77ea95fd89d637a6",
        "group": "397301018b437849",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Debu :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "a462bbb604e09b63",
        "type": "ui_text",
        "z": "77ea95fd89d637a6",
        "group": "397301018b437849",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Suhu :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 440,
        "wires": []
    },
    {
        "id": "32f46ee1a50acd45",
        "type": "ui_text",
        "z": "77ea95fd89d637a6",
        "group": "397301018b437849",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Kelembapan :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "6bb92fd48fa3f5e5",
        "type": "ui_gauge",
        "z": "77ea95fd89d637a6",
        "name": "",
        "group": "9b054f931c739b5a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Kadar Asap",
        "label": "ug/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "83a07490cbee77ef",
        "type": "ui_gauge",
        "z": "77ea95fd89d637a6",
        "name": "",
        "group": "c249220c06492a1c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Kadar Debu",
        "label": "ug/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 240,
        "wires": []
    },
    {
        "id": "54a7b460caeab736",
        "type": "ui_gauge",
        "z": "77ea95fd89d637a6",
        "name": "",
        "group": "90692c5b81901ef5",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Suhu Ruangan",
        "label": "Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 300,
        "y": 300,
        "wires": []
    },
    {
        "id": "21eee79c08cf630c",
        "type": "ui_gauge",
        "z": "77ea95fd89d637a6",
        "name": "",
        "group": "a176540c1b4a7b23",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Kelembapan Ruangan ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 330,
        "y": 360,
        "wires": []
    },
    {
        "id": "f3965308d428ed72",
        "type": "mqtt in",
        "z": "77ea95fd89d637a6",
        "name": "",
        "topic": "MQ2a",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3a65d136f9220c14",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "2a9ca953efa0c809"
            ]
        ]
    },
    {
        "id": "2a9ca953efa0c809",
        "type": "ui_gauge",
        "z": "77ea95fd89d637a6",
        "name": "",
        "group": "9b054f931c739b5a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Kadar CO",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 120,
        "wires": []
    },
    {
        "id": "d4c5f18c45b39a45",
        "type": "mqtt in",
        "z": "77ea95fd89d637a6",
        "name": "",
        "topic": "CO",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3a65d136f9220c14",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 120,
        "wires": [
            [
                "7fd9591c1c58e3cd"
            ]
        ]
    },
    {
        "id": "7fd9591c1c58e3cd",
        "type": "ui_text",
        "z": "77ea95fd89d637a6",
        "group": "397301018b437849",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CO :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "3a65d136f9220c14",
        "type": "mqtt-broker",
        "name": "UNSUR",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "397301018b437849",
        "type": "ui_group",
        "name": "Status",
        "tab": "42543dbb8d316bdf",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b054f931c739b5a",
        "type": "ui_group",
        "name": "MQ2",
        "tab": "42543dbb8d316bdf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c249220c06492a1c",
        "type": "ui_group",
        "name": "GP2Y1010AU0F",
        "tab": "42543dbb8d316bdf",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "90692c5b81901ef5",
        "type": "ui_group",
        "name": "DHT_SUHU",
        "tab": "42543dbb8d316bdf",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a176540c1b4a7b23",
        "type": "ui_group",
        "name": "DHT_KELEMBAPAN",
        "tab": "42543dbb8d316bdf",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42543dbb8d316bdf",
        "type": "ui_tab",
        "name": "Laboratorium Bengkel Poltek Nuklir - BRIN",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]